.wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
	margin: 15px 0;
}

.closed {
	background-color: lightcoral;
	padding: 5px 10px;
	width: fit-content;
	border-radius: 5px;
	color: #fff;
}

.open {
	background-color: rgb(86, 167, 86);
	padding: 5px 10px;
	width: fit-content;
	border-radius: 5px;
	color: #fff;
}

.wrapperLink {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wrapperLink svg {
	color: gray;
	width: 20px;
	height: 20px;
}

.link {
	cursor: pointer;
	text-decoration: none;
}
